@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.header__navigation {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
  height: 3.5rem;
}

.header__navigation_NavLink-div {
  margin-left: 1rem;
}

/* all the nav link inside the headers */
.header__navigation-NavLink {
  text-decoration: none;

  color: #c0c0c0;
  cursor: pointer;
}
/* all the value inside the ul  */
.nav__links ul {
  margin: 0px;
  padding: 0px;
}
.nav__links li {
  display: inline-block;
  padding: 0px 0.7rem;
}
/* effect */
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.header__navigation li a:hover {
  color: white;
}
.nav__links li {
  transition: all 0.3s ease 0s;
}
.header__navigation a:hover {
  color: white;
}

/* the signup, logout, and login effect */
#positive {
  transition: all 0.3s ease 0s;
}
#positive:hover {
  color: green;
}
#negative {
  transition: all 0.3s ease 0s;
}
#negative:hover {
  color: red;
}

.authentications {
  margin-right: 1rem;
  margin-left: 1rem;
}
