.banner {
  position: relative;
  height: 4;
  color: white;
  object-fit: contain;
  position: relative;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner--fadebottom {
  height: 10.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.banner__button {
  cursor: pointer;
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(52, 52, 52, 0.5);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.banner__button:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.3s;
}
