.rowrow {
  color: white;
  margin-left: 15px;
}
.rowrow__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.rowrow__poster__picture {
  height: 300px;
  width: 200px;
  padding-left: 1.5rem;
}

.row__poster__pictures__button {
  position: relative;
  color: #fff;
  top: 28px;
  left: 186px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 24px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.row__poster__pictures__button:hover {
  color: white;
  background-color: rgba(3, 86, 3, 0.617);
  transition: all 0.3s;
}

.row__poster__pictures__button__green {
  color: white;
  background-color: rgba(3, 86, 3, 0.783);
  transition: all 0.3s;
}

.rowrow__poster__picture {
  padding: 0px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  margin-left: 12px;
  margin-right: 12px;
}

.search-value-container {
  display: flex;
}
