.signup-container {
  background-image: url("../assets/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 975px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: silver;
  position: relative;
}
.signup-row {
  width: 700px;
  justify-content: center;
  padding-left: 100px;
  color: silver;
}
.signup-row__block {
  margin: 0;
}
.signup-row__upper__block {
  width: 500px;
  justify-content: center;
  border: 1px;
  border-style: solid;
  border-color: silver;
  background-color: black;
}

.movie-login-btn-dark-blue {
  background-color: rgb(7, 7, 106);
  border-color: rgb(7, 7, 106);
  color: silver;
}
#signup__title {
  text-align: center;
}
