.user-page-container {
  background-image: url("../assets/footer-bg.jpg");
}

/* body {
  background-color: #111;
  color: silver;
  cursor: pointer;
} */

.user-card {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(255, 254, 254, 0.4);
  color: silver;
  border: 1px solid silver;
  margin-top: 100px;
}

.custom-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.custom-button {
  width: 100px;
  height: 50px;
  background-color: black;
  color: silver;
  border: 1px solid silver;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button:hover .custom-button-text {
  color: black !important;
}

.custom-button.active .custom-button-text {
  color: black !important;
}

.custom-button.active {
  background-color: silver !important;
}

.custom-button-text {
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 80%;
  color: silver;
}

.update-button {
  background-color: black;
  color: silver;
  border: 1px solid silver;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-top: 10px;
}

.update-button:hover,
.custom-button:hover,
.update-button:active,
.custom-button:active {
  background-color: silver;
  color: black;
  border-color: silver;
}

.form-control {
  background-color: black;
  color: silver;
  border: 1px solid silver;
  margin-bottom: 10px;
}

.form-control:focus {
  border-color: silver;
  box-shadow: 0 0 0 0.25rem silver;
}

.centered-text {
  text-align: center;
  color: silver;
}

.move-left {
  text-align: left;
  margin-left: 0;
  margin-top: 10px;
}

.comments-heading {
  text-align: left;
  margin-left: 0;
  margin-top: 10px;
}

.text-black {
  color: black !important;
}

.first-row-buttons {
  justify-content: center;
}

.second-row-buttons {
  justify-content: center;
}

.third-row-buttons {
  justify-content: center;
}

.submit-button {
  background-color: rgb(4, 4, 75);
  color: silver;
  border: 1px solid silver;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.submit-button:hover .custom-button-text {
  color: black !important;
}

.submit-button.active .custom-button-text {
  color: black !important;
}

.submit-button.active {
  background-color: silver !important;
}

.submit-button-text {
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 80%;
  color: silver;
}

.btn.btn-primary.submit-button:hover,
.btn.btn-primary.submit-button:active {
  background-color: silver;
  color: black;
  border-color: silver;
}

.user-card > * {
  margin-bottom: 20px;
}

.move-left {
  margin-top: 30px;
}

.centered-text.move-left + h2 {
  margin-top: 50px;
}

.comments-heading {
  margin-top: 50px;
}

.centered-text:first-of-type {
  margin-top: 50px;
}

.centered-text:first-of-type,
.centered-text:nth-of-type(3) {
  margin-top: 50px;
}

.btn-danger {
  background-color: rgb(147, 6, 6);
  color: white;
  border-color: rgb(19, 17, 17);
  margin: 10px;
}

.space-between-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-between-list-container .delete-button {
  margin-left: 0px;
  margin-right: 20px;
}

.custom-link {
  color: rgb(22, 110, 22);
  text-decoration: none;
}

.custom-link:hover {
  color: rgb(22, 110, 22);
  text-shadow: 1px 1px 2px silver;
}
